*{  
   
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100vw;
    height: 550px;
    background-image: url(image/donation13.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 66px;
    color:whitesmoke ;
    margin: 20px;
}
.header h4{
    color:whitesmoke ;
    text-align: center;
    margin: 20px;
}
.donet-now-btn{
    font-size: 20px;
    color: white;
    background-color: rgb(14, 231, 68);
    padding: 10px;
    border-radius: 10px;
}
.donet-here{
    margin: 50px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donet-here h1{
    font-size: 50px;
    margin: 20px;
}
.donet-here p{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
.amount{
    list-style: none;
    display: flex ;
    align-items: center ;
    justify-content: center;
    color: #1e2525;
    
}

.amount li{
    padding: 40px;
    margin: 10px;
    background-color: #d8dada;
}
#dolar{
    color: green;
    border: 2px green solid ;
    border-radius: 5px;
}
.put{
    width: 500px;
    text-align: center;
    margin-bottom: 20px ;
}
.work{
    display: flex;
    padding:30px 15px;
    margin: 15px;
    justify-content: space-evenly;
}

.common{
    margin: 10px;
    padding:45px 15px;
}
.common h1{
    margin: 10px 0px;
}
.food{
    background-color: #f8ebb0;
}
.shelter{
    background-color: #c0f3ba;
}
.education{
    background-color: #fcbdf3;
}

.midimg{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}
.midimg img{
    max-width: 45vw;
    
}
.why{
    margin: 50px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.why h1{
    text-align: center;
    padding: 30px;
}
.why p{
    text-align: center;
    padding: 30px;
}
.update{
    margin: 50px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.update h1{
    padding: 20px;
    margin: 20px;
}
.update p{
    padding: 20px;
    margin: 20px; 
}
.update input{
    padding: 20px;
    margin: 20px; 
}
.email{
    width: 500px;
    height: 10px;
    text-align: center;
    border: #f8ebb0 70px solid;
}
footer{
    height: 160px;
    background-color:  #000;
    text-align: center;
    padding: 40px;
}
footer h1{
    font-family: 'Lobster', cursive;
    color: #993535;
}
footer p {
    color: aliceblue;
    margin-top: 55px;
}
.humble{
    
}